# Database
DB_PASSWORD=robin2026ProdSecure!

# Backend
NODE_ENV=production
PORT=4000
JWT_SECRET=064d71a2775aa8554f0f3e472580c3bdc05e16304fcfe8c8781362fb7e6ee585

# SMTP
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_TLS=true
SMTP_USER=paxorapremiuminfo@premiumpaxora.tech
SMTP_PASSWORD=your_smtp_password
EMAILS_FROM_EMAIL=paxorapremiuminfo@premiumpaxora.tech

# API Keys
FINNHUB_API_KEY=d4r7ku1r01qrphadt2m0d4r7ku1r01qrphadt2mg
OPENEXCHANGERATES_APP_ID=06831b8aea7844f9b4d4368ce1f3ac1d
CLIENT_API_KEY=ck_0d5a1eba62ef318778e6ba03afd613c38cedabfc40c381ec
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xMeMGd35tNXsOdmw_0JDEaws9xGegeAfchKKILH8VHzQgNp

# Trade Rules
OPTION_TRADE_RULES={"30":{"minCapital":100,"maxCapital":5000,"returnRate":15},"60":{"minCapital":5001,"maxCapital":20000,"returnRate":20},"90":{"minCapital":20001,"maxCapital":80000,"returnRate":25},"120":{"minCapital":80001,"maxCapital":120000,"returnRate":28},"180":{"minCapital":80001,"maxCapital":200000,"returnRate":30},"300":{"minCapital":200001,"maxCapital":300000,"returnRate":35},"700":{"minCapital":300001,"maxCapital":500000,"returnRate":40}}

# Branding
BRAND_NAME=Paxora Premium

# CORS
ALLOWED_ORIGINS=https://paxorapremiumlab.com,https://admin.paxorapremiumlab.com

# URLs
FRONT_END_URL=https://paxorapremiumlab.com/

# Frontend
NEXT_PUBLIC_API_URL=https://api.paxorapremiumlab.com/api
NEXT_PUBLIC_HUBSPOT_API_KEY=your_hubspot_api_key_here
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
